<link rel="" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">
<link rel="" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
<h1>BD Clientes</h1>

<h2>Usuario: 
  <% if(user) {%>
      <span class="badge bg-success"> <%= user.nombre %></span>
      <%}%>
</h2>

<h2>Registro de Ventas Movil</h2> 
<div id="position" style="font-size: 24px;">
  <input type="checkbox" name="pos" value="No Localizado 1">No localizado 1
  <input type="checkbox" name="pos" value="No Localizado 2">No localizado 2
  <input type="checkbox" name="pos" value="No Localizado 3">No localizado 3
  <input type="checkbox" name="pos" value="Seguimiento">Seguimiento
  <input type="checkbox" name="pos" value="Llamar Luego/ Interesado">Llamar Luego/ Interesado
  <input type="checkbox" name="pos" value="-" checked>Vacio
</div>
<hr>
    
  <div  class="table-responsive">
    
    <table id="ventas" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Consecutivo</th>
          <th scope="col">Numero</th>
          <th scope="col">Cedula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Asesor</th>
          <th scope="col">Detalle</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < rows.length; i++) { %>
          <tr>
            <td><%= rows[i][0] %></td>
            <td><%= rows[i][1] %></td>
            <td><%= rows[i][2] %></td>
            <td><%= rows[i][3] %></td>
            <td><%= rows[i][4] %></td>
            <td><%= rows[i][5] %></td>
            <td>
              <a href="/edit/<%= i+2 %>">Edit</a>
            </td>
          </tr>
        <% } %>
      </tbody>
      
      
    </table>
    
  
  </div>
  
  <br>
  <a href="registrarVenta.ejs" class="btn btn-outline-success">Registrar</a>
  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script> 
  
  <script>
    $(document).ready(function () {
      $.fn.dataTable.ext.search.push(
    function( settings, searchData, index, rowData, counter ) {
      var positions = $('input:checkbox[name="pos"]:checked').map(function() {
        return this.value;
      }).get();
   
      if (positions.length === 0) {
        return true;
      }
      
      if (positions.indexOf(searchData[5]) !== -1) {
        return true;
      }
      
      return false;
    }
  );


  var table = $('#ventas').DataTable();
  
 $('input:checkbox').on('change', function () {
    table.draw();
 });

        var userRol = "<%= user.rol %>"
         if(userRol !== "admin"){
          var columnaNombreVendedor = table.column(4).index();
            console.log(columnaNombreVendedor);

          var nombre = "<%= user.nombre %>";
           console.log(nombre);


            table.column(columnaNombreVendedor).search(nombre).draw();
              console.log("linda");
         }


  
        });

        
  </script>