<script
			src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
			integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
    <style type="text/css">
      html { font-family:Calibri, Arial, Helvetica, sans-serif; font-size:11pt; background-color:white }
      a.comment-indicator:hover + div.comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em }
      a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em }
      div.comment { display:none }
      table { border-collapse:collapse; page-break-after:always }
      .gridlines td { border:1px dotted black }
      .gridlines th { border:1px dotted black }
      .b { text-align:center }
      .e { text-align:center }
      .f { text-align:right }
      .inlineStr { text-align:left }
      .n { text-align:right }
      .s { text-align:left }
      td.style0 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      th.style0 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      td.style1 { vertical-align:middle; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#4472C4; font-family:'Calibri'; font-size:24pt; background-color:white }
      th.style1 { vertical-align:middle; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#4472C4; font-family:'Calibri'; font-size:24pt; background-color:white }
      td.style2 { vertical-align:top; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:24pt; background-color:white }
      th.style2 { vertical-align:top; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:24pt; background-color:white }
      td.style3 { vertical-align:top; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:24pt; background-color:white }
      th.style3 { vertical-align:top; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:24pt; background-color:white }
      td.style4 { vertical-align:top; text-align:right; padding-right:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; text-decoration:underline; color:#4472C4; font-family:'Calibri'; font-size:18pt; background-color:white }
      th.style4 { vertical-align:top; text-align:right; padding-right:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; text-decoration:underline; color:#4472C4; font-family:'Calibri'; font-size:18pt; background-color:white }
      td.style5 { vertical-align:middle; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#335593; font-family:'Calibri'; font-size:9pt; background-color:white }
      th.style5 { vertical-align:middle; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#335593; font-family:'Calibri'; font-size:9pt; background-color:white }
      td.style6 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:white }
      th.style6 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:white }
      td.style7 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:10pt; background-color:white }
      th.style7 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:10pt; background-color:white }
      td.style8 { vertical-align:middle; text-align:center; border-bottom:none #000000; border-top:none #000000; border-left:3px solid #FFFFFF !important; border-right:3px solid #FFFFFF !important; font-weight:bold; color:#FFFFFF; font-family:'Calibri'; font-size:9pt; background-color:#8EAADB }
      th.style8 { vertical-align:middle; text-align:center; border-bottom:none #000000; border-top:none #000000; border-left:3px solid #FFFFFF !important; border-right:3px solid #FFFFFF !important; font-weight:bold; color:#FFFFFF; font-family:'Calibri'; font-size:9pt; background-color:#8EAADB }
      td.style9 { vertical-align:middle; text-align:center; border-bottom:none #000000; border-top:none #000000; border-left:3px solid #FFFFFF !important; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:#F2F2F2 }
      th.style9 { vertical-align:middle; text-align:center; border-bottom:none #000000; border-top:none #000000; border-left:3px solid #FFFFFF !important; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:#F2F2F2 }
      td.style10 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#335593; font-family:'Calibri'; font-size:9pt; background-color:white }
      th.style10 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#335593; font-family:'Calibri'; font-size:9pt; background-color:white }
      td.style11 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:white }
      th.style11 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:white }
      td.style12 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:white }
      th.style12 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:white }
      td.style13 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#FFFFFF; font-family:'Calibri'; font-size:9pt; background-color:#8EAADB }
      th.style13 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#FFFFFF; font-family:'Calibri'; font-size:9pt; background-color:#8EAADB }
      td.style14 { vertical-align:middle; text-align:center; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:3px solid #FFFFFF !important; font-weight:bold; color:#FFFFFF; font-family:'Calibri'; font-size:9pt; background-color:#8EAADB }
      th.style14 { vertical-align:middle; text-align:center; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:3px solid #FFFFFF !important; font-weight:bold; color:#FFFFFF; font-family:'Calibri'; font-size:9pt; background-color:#8EAADB }
      td.style15 { vertical-align:middle; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      th.style15 { vertical-align:middle; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      td.style16 { vertical-align:middle; text-align:center; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:3px solid #FFFFFF !important; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:#D9E2F3 }
      th.style16 { vertical-align:middle; text-align:center; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:3px solid #FFFFFF !important; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:#D9E2F3 }
      td.style17 { vertical-align:middle; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:white }
      th.style17 { vertical-align:middle; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:white }
      td.style18 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#FFFFFF; font-family:'Calibri'; font-size:1pt; background-color:white }
      th.style18 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#FFFFFF; font-family:'Calibri'; font-size:1pt; background-color:white }
      td.style19 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:white }
      th.style19 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:white }
      td.style20 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:white }
      th.style20 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:white }
      td.style21 { vertical-align:middle; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:white }
      th.style21 { vertical-align:middle; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:9pt; background-color:white }
      td.style22 { vertical-align:middle; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:#DDDDDD }
      th.style22 { vertical-align:middle; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:#DDDDDD }
      td.style23 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:#DDDDDD }
      th.style23 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:#DDDDDD }
      td.style24 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:#DDDDDD }
      th.style24 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:#DDDDDD }
      td.style25 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      th.style25 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      td.style26 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      th.style26 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      td.style27 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      th.style27 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      td.style28 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      th.style28 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      td.style29 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:#DDDDDD }
      th.style29 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:#DDDDDD }
      td.style30 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:#DDDDDD }
      th.style30 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:#DDDDDD }
      td.style31 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      th.style31 { vertical-align:middle; text-align:left; padding-left:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      td.style32 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      th.style32 { vertical-align:middle; text-align:right; padding-right:0px; border-bottom:1px solid #999999 !important; border-top:1px solid #999999 !important; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
      table.sheet0 col.col0 { width:165.37777588pt }
      table.sheet0 col.col1 { width:50.83333275pt }
      table.sheet0 col.col2 { width:88.78888787pt }
      table.sheet0 col.col3 { width:117.25555421pt }
      table.sheet0 tr { height:15pt }
      table.sheet0 tr.row0 { height:50.4pt }
      table.sheet0 tr.row1 { height:61.8pt }
      table.sheet0 tr.row2 { height:31.2pt }
      table.sheet0 tr.row4 { height:25.8pt }
      table.sheet0 tr.row5 { height:22.2pt }
      table.sheet0 tr.row6 { height:19.8pt }
      table.sheet0 tr.row7 { height:19.2pt }
      table.sheet0 tr.row8 { height:9.6pt }
      table.sheet0 tr.row9 { height:18pt }
      table.sheet0 tr.row11 { height:27.6pt }
      table.sheet0 tr.row12 { height:27.6pt }
      table.sheet0 tr.row13 { height:27.6pt }
      table.sheet0 tr.row14 { height:27.6pt }
      table.sheet0 tr.row15 { height:27.6pt }
      table.sheet0 tr.row16 { height:27.6pt }
      table.sheet0 tr.row18 { height:27.6pt }
      table.sheet0 tr.row19 { height:27.6pt }
      table.sheet0 tr.row20 { height:27.6pt }
      table.sheet0 tr.row21 { height:27.6pt }
      table.sheet0 tr.row22 { height:27.6pt }
      table.sheet0 tr.row24 { height:27.6pt }
      #sheet0{
      margin-top: -20px;
      margin-right: 30px;
    }
    table {
  width: 100%;
  margin: 0 auto;
}
#tontin{
  display: none;
}
    </style>
  </head>

  <body>
<style>
@page { margin-left: 0.7in; margin-right: 0.7in; margin-top: 0.75in; margin-bottom: 0.75in; }
body { margin-left: 0.7in; margin-right: 0.7in; margin-top: 0.75in; margin-bottom: 0.75in; }
</style>
    <table border="0" cellpadding="0" cellspacing="0" id="sheet0" style="height: 1000px; margin-right:-15 ; background-color: white;">
        <col class="col0">
        <col class="col1">
        <col class="col2">
        <col class="col3">
        <tbody>
          <tr class="row0">
            <td class="column0 style1 null">
<div style="position: relative;">
  <img style="position: absolute; z-index: 1; left: 30px; top: -35px; width: 202px; height: 59px;" src="img/favtelColilla.png" border="0" /></div></td>
            <td class="column1 style2 null"></td>
            <td class="column2 style3 null"></td>
            <td class="column3 style4 s">Colilla de Pago</td>
          </tr>
          <tr class="row1">
            <td class="column0 style5 s">Torre Mercedes, Oficina FF2-F9<br />
100 metros Oeste del Hospital Nacional de Niños<br />
Paseo Colón, San José, Costa Rica<br />
10103</td>
            <td class="column1 style6 null"></td>
            <td class="column2 style7 null"></td>
            <td class="column3 style7 null"></td>
          </tr>
          <tr class="row2">
            <td class="column0 style5 s">Teléfono: + 506 888-888<br />
Email: admin@favtel.com</td>
            <td class="column1 style6 null"></td>
            <td class="column2 style8 s">CONSECUTIVO</td>
            <td class="column3 style9 s"><%= codigoEmpleado %>-<%= consecutivo %></td>
          </tr>
          <tr class="row3">
            <td class="column0 style10 null"></td>
            <td class="column1 style11 null"></td>
            <td class="column2 style12 null"></td>
            <td class="column3 style12 null"></td>
          </tr>
          <tr class="row4">
            <td class="column0 style13 s">EMPLOYEE INFORMATION</td>
            <td class="column1 style11 null"></td>
            <td class="column2 style8 s">PERIODICIDAD</td>
            <td class="column3 style14 s">PAY DATE</td>
          </tr>
          <tr class="row5">
            <td class="column0 style15 s"><%= employeeName %></td>
            <td class="column1 style11 null"></td>
            <td class="column2 style9 s">Quincenal</td>
            <td class="column3 style16 n"><%= fechaPago %></td>
          </tr>
          <tr class="row6">
            <td class="column0 style17 s">Teléfono: <%= employeeNumber %></td>
            <td class="column1 style18 s">[42]</td>
            <td class="column2 style19 null"></td>
            <td class="column3 style19 null"></td>
          </tr>
          <tr class="row7">
            <td class="column0 style17 s">Email: <%= employeeEmail %></td>
            <td class="column1 style11 null"></td>
            <td class="column2 style19 null"></td>
            <td class="column3 style19 null"></td>
          </tr>
          <tr class="row8">
            <td class="column0">&nbsp;</td>
            <td class="column1 style11 null"></td>
            <td class="column2 style19 null"></td>
            <td class="column3 style19 null"></td>
          </tr>
          <tr class="row9">
            <td class="column0">&nbsp;</td>
            <td class="column1 style11 null"></td>
            <td class="column2 style19 s">Metodo de Pago</td>
            <td class="column3 style20 s">Transfer Otro Banco</td>
          </tr>
          <tr class="row10">
            <td class="column0 style21 null"></td>
            <td class="column1 style11 null"></td>
            <td class="column2 style19 null"></td>
            <td class="column3 style19 null"></td>
          </tr>
          <tr class="row11">
            <td class="column0 style22 s">INGRESOS</td>
            <td class="column1 style23 s">CANTIDAD</td>
            <td class="column2 style23 null"></td>
            <td class="column3 style24 s">SUBTOTAL</td>
          </tr>
          <tr class="row12">
            <td class="column0 style25 s">Salario Base (Días)</td>
            <td class="column1 style26 n"><%= horas %></td>
            <td class="column2 style27 f"><%= costoDiario1 %></td>
            <td class="column3 style28 f"><%= SalarioBase1 %></td>
          </tr>
          <tr class="row13">
            <td class="column0 style25 s">Comision (Ventas)</td>
            <td class="column1 style26 n"><%= totalVentas %></td>
            <td class="column2 style27 null"></td>
            <td class="column3 style28 f"><%= comision1 %></td>
          </tr>
          <tr class="row14">
            <td class="column0 style25 s">Horas Extra (Horas)</td>
            <td class="column1 style26 n">0</td>
            <td class="column2 style27 null"></td>
            <td class="column3 style28 f">-</td>
          </tr>
          <tr class="row15">
            <td class="column0 style25 s">Bono</td>
            <td class="column1 style26 n">0</td>
            <td class="column2 style27 null"></td>
            <td class="column3 style28 f">-</td>
          </tr>
          <tr class="row16">
            <td class="column0 style29 s style29" colspan="3">TOTAL INGRESOS</td>
            <td class="column3 style30 f"><%= totalIngresos1 %></td>
          </tr>
          <tr class="row17">
            <td class="column0">&nbsp;</td>
            <td class="column1">&nbsp;</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
          </tr>
          <tr class="row18">
            <td class="column0 style22 s">DEDUCCIONES</td>
            <td class="column1 style23 null"></td>
            <td class="column2 style23 null"></td>
            <td class="column3 style24 s">SUBTOTAL</td>
          </tr>
          <tr class="row19">
            <td class="column0 style25 s">CCSS</td>
            <td class="column1 style31 null"></td>
            <td class="column2 style32 n">9.67%</td>
            <td class="column3 style28 f">- <%= ccss1 %></td>
          </tr>
          <tr class="row20">
            <td class="column0 style25 s">Aporte Trabajador Banco Popular</td>
            <td class="column1 style31 null"></td>
            <td class="column2 style32 n">1.00%</td>
            <td class="column3 style28 f">- <%= aporteTrabajadorBanco1 %></td>
          </tr>
          <tr class="row21" id="tontin">
            <td class="column0 style25 s">Retención Tarjeta HID</td>
            <td class="column1 style31 null"></td>
            <td class="column2 style32 null"></td>
            <td class="column3 style28 n">-4,000.00</td>
          </tr>
          <tr class="row22">
            <td class="column0 style29 s style29" colspan="3">TOTAL DEDUCCIONES</td>
            <td class="column3 style30 f">- <%= totalDeducciones1 %></td>
          </tr>
          <tr class="row23">
            <td class="column0">&nbsp;</td>
            <td class="column1">&nbsp;</td>
            <td class="column2">&nbsp;</td>
            <td class="column3">&nbsp;</td>
          </tr>
          <tr class="row24">
            <td class="column0">&nbsp;</td>
            <td class="column1 style29 s style29" colspan="2">PAGO NETO</td>
            <td class="column3 style30 f"><%= pagoNeto1 %></td>
          </tr>
        </tbody>
    </table>
  <button id="download-button">Download as PDF</button>

  <script>
    const button = document.getElementById('download-button');

function generatePDF() {
  // Choose the element that your content will be rendered to.
  const element = document.getElementById('sheet0');

  const options = {
    margin: [0.5, 0.5],
    filename: '<%= codigoEmpleado %>_<%= employeeName %>_<%= fechaPago %>.pdf',
    // rest of the options
    image: { type: 'jpeg', quality: 0.98 },
    html2canvas: {
      scale: 4,
      letterRendering: true,
      scrollY: -window.scrollY + 350, // adjust the value as needed
    },
    jsPDF: { unit: 'in', format: 'a3', orientation: 'portrait' },
  };

  html2pdf().from(element).set(options).save();
}

button.addEventListener('click', generatePDF);

  </script>