
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 
  
<div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-12">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Editar Form</h3>
            <form action="/editRevAgo25" method="POST">
              <input id="SaleId" name="SaleId" value="<%= SaleId.SaleId %>" hidden>
              <div class="row">
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <input type="text" id="SaleId" name="SaleId" class="form-control form-control-lg" value="<%= SaleId.SaleId %>" disabled/>
                    <label class="form-user" for="nombreDelCliente">Numero de Venta</label>
                  </div>
  
                </div>
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <input type="text" id="column1" name="columnCelularTramite" class="form-control form-control-lg" value="<%= SaleId.Celular_Tramite %>" disabled/>
                    <label class="form-user" for="nombreDelCliente">Numero Celular de Tramite</label>
                  </div>
  
                </div>
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <input type="text" id="column2" name="columnNumeroAbonado" class="form-control form-control-lg" value="<%= SaleId.Numero_Abonado %>" disabled/>
                    <label class="form-user" for="segundoNombreDelCliente">Numero de Abonado</label>
                  </div>
  
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <input type="date" id="column1" name="columnFechaActivacion" class="form-control form-control-lg" value="<%= SaleId.formattedFecha_Activacion %>" disabled/>
                    <label class="form-user" for="nombreDelCliente">Fecha_Activacion</label>
                  </div>
  
                </div>
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <input type="text" id="column1" name="columnNombreCliente" class="form-control form-control-lg" value="<%= SaleId.Nombre_Cliente %>" disabled/>
                    <label class="form-user" for="nombreDelCliente">Nombre Cliente</label>
                  </div>
  
                </div>
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <input type="text" id="column2" name="columnPrimerApellidoCliente" class="form-control form-control-lg" value="<%= SaleId.Primer_Apellido_Cliente %>" disabled/>
                    <label class="form-user" for="segundoNombreDelCliente">Primer Apellido Cliente</label>
                  </div>
  
                </div>
              </div>
  
              <div class="row">
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <select class="select form-control-lg" style="width: 300px;" id="columnF1" name="columnF1" class="form-control form-control-lg" >
                      <option value="<%= SaleId.Factura_1 %>"></option>
                      <option <%= SaleId.Factura_1 == 'PAGO' ? "selected" : '' %> value="PAGO">PAGO</option>
                     <option <%= SaleId.Factura_1 == 'SAA' ? "selected" : '' %> value="SAA">SAA</option>
                     <option <%= SaleId.Factura_1 == 'BAA' ? "selected" : '' %> value="BAA">BAA</option>
                     <option <%= SaleId.Factura_1 == 'SIN FACTURAR' ? "selected" : '' %> value="SIN FACTURAR">SIN FACTURAR</option>
                     <option <%= SaleId.Factura_1 == 'NO PAGO' ? "selected" : '' %> value="NO PAGO">NO PAGO</option>
                    </select>
                  </div>
                  <label class="form-user" for="segundoApellidoDelCliente">Factura 1 </label>
                </div>
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="number" id="columnM1" name="columnM1" class="form-control form-control-lg" step="0.01" placeholder="0.00"  value="<%= SaleId.Monto_1 %>" />
                    <label class="form-label" for="nombre">Monto 1</label>
                 </div>
                    
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="date" id="columnFP1" name="columnFP1" class="form-control form-control-lg" value="<%= SaleId.formattedFecha_Pago_1 %>" />
                    <label class="form-user" for="numeroDeDocumento">Fecha de Pago 1</label>
                  </div>
  
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <select class="select form-control-lg" style="width: 300px;" id="columnF2" name="columnF2" class="form-control form-control-lg" >
                      <option value="<%= SaleId.Factura_2 %>"></option>
                      <option <%= SaleId.Factura_2 == 'PAGO' ? "selected" : '' %> value="PAGO">PAGO</option>
                     <option <%= SaleId.Factura_2 == 'SAA' ? "selected" : '' %> value="SAA">SAA</option>
                     <option <%= SaleId.Factura_2 == 'BAA' ? "selected" : '' %> value="BAA">BAA</option>
                     <option <%= SaleId.Factura_2 == 'SIN FACTURAR' ? "selected" : '' %> value="SIN FACTURAR">SIN FACTURAR</option>
                     <option <%= SaleId.Factura_2 == 'NO PAGO' ? "selected" : '' %> value="NO PAGO">NO PAGO</option>
                    </select>
                  </div>
                  <label class="form-user" for="segundoApellidoDelCliente">Factura 2 </label>
                </div>
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <input type="number" id="columnM2" name="columnM2" class="form-control form-control-lg" step="0.01" placeholder="0.00" value="<%= SaleId.Monto_2 %>" />
                    <label class="form-label" for="nombre">Monto 2</label>
                 </div>
                    
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="date" id="columnFP2" name="columnFP2" class="form-control form-control-lg" value="<%= SaleId.formattedFecha_Pago_2 %>" />
                    <label class="form-user" for="numeroDeDocumento">Fecha de Pago 2</label>
                  </div>
  
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <select class="select form-control-lg" style="width: 300px;" id="columnF3" name="columnF3" class="form-control form-control-lg" >
                      <option value="<%= SaleId.Factura_3 %>"></option>
                      <option <%= SaleId.Factura_3 == 'PAGO' ? "selected" : '' %> value="PAGO">PAGO</option>
                     <option <%= SaleId.Factura_3 == 'SAA' ? "selected" : '' %> value="SAA">SAA</option>
                     <option <%= SaleId.Factura_3 == 'BAA' ? "selected" : '' %> value="BAA">BAA</option>
                     <option <%= SaleId.Factura_3 == 'SIN FACTURAR' ? "selected" : '' %> value="SIN FACTURAR">SIN FACTURAR</option>
                     <option <%= SaleId.Factura_3 == 'NO PAGO' ? "selected" : '' %> value="NO PAGO">NO PAGO</option>
                    </select>
                  </div>
                  <label class="form-user" for="segundoApellidoDelCliente">Factura 3 </label>
                </div>
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="number" id="columnM3" name="columnM3" class="form-control form-control-lg" step="0.01" placeholder="0.00" value="<%= SaleId.Monto_3 %>" />
                    <label class="form-label" for="nombre">Monto 3</label>
                 </div>
                    
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="date" id="columnFP3" name="columnFP3" class="form-control form-control-lg" value="<%= SaleId.formattedFecha_Pago_3 %>" />
                    <label class="form-user" for="numeroDeDocumento">Fecha de Pago 3</label>
                  </div>
  
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <select class="select form-control-lg" style="width: 300px;" id="columnF4" name="columnF4" class="form-control form-control-lg" >
                      <option value="<%= SaleId.Factura_4 %>"></option>
                      <option <%= SaleId.Factura_4 == 'PAGO' ? "selected" : '' %> value="PAGO">PAGO</option>
                     <option <%= SaleId.Factura_4 == 'SAA' ? "selected" : '' %> value="SAA">SAA</option>
                     <option <%= SaleId.Factura_4 == 'BAA' ? "selected" : '' %> value="BAA">BAA</option>
                     <option <%= SaleId.Factura_4 == 'SIN FACTURAR' ? "selected" : '' %> value="SIN FACTURAR">SIN FACTURAR</option>
                     <option <%= SaleId.Factura_4 == 'NO PAGO' ? "selected" : '' %> value="NO PAGO">NO PAGO</option>
                    </select>
                  </div>
                  <label class="form-user" for="segundoApellidoDelCliente">Factura 4 </label>
                </div>
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="number" id="columnM4" name="columnM4" class="form-control form-control-lg" step="0.01" placeholder="0.00" value="<%= SaleId.Monto_4 %>" />
                    <label class="form-label" for="nombre">Monto 4</label>
                 </div>
                    
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="date" id="columnFP4" name="columnFP4" class="form-control form-control-lg" value="<%= SaleId.formattedFecha_Pago_4 %>" />
                    <label class="form-user" for="numeroDeDocumento">Fecha de Pago 4</label>
                  </div>
  
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <select class="select form-control-lg" style="width: 300px;" id="columnF5" name="columnF5" class="form-control form-control-lg" >
                      <option value="<%= SaleId.Factura_5 %>"></option>
                      <option <%= SaleId.Factura_5 == 'PAGO' ? "selected" : '' %> value="PAGO">PAGO</option>
                     <option <%= SaleId.Factura_5 == 'SAA' ? "selected" : '' %> value="SAA">SAA</option>
                     <option <%= SaleId.Factura_5 == 'BAA' ? "selected" : '' %> value="BAA">BAA</option>
                     <option <%= SaleId.Factura_5 == 'SIN FACTURAR' ? "selected" : '' %> value="SIN FACTURAR">SIN FACTURAR</option>
                     <option <%= SaleId.Factura_5 == 'NO PAGO' ? "selected" : '' %> value="NO PAGO">NO PAGO</option>
                    </select>
                  </div>
                  <label class="form-user" for="segundoApellidoDelCliente">Factura 5 </label>
                </div>
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="number" id="columnM5" name="columnM5" class="form-control form-control-lg" step="0.01" placeholder="0.00" value="<%= SaleId.Monto_5 %>" />
                    <label class="form-label" for="nombre">Monto 5</label>
                 </div>
                    
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="date" id="columnFP5" name="columnFP5" class="form-control form-control-lg" value="<%= SaleId.formattedFecha_Pago_5 %>" />
                    <label class="form-user" for="numeroDeDocumento">Fecha de Pago 5</label>
                  </div>
  
                </div>


                <div class="row">
                  <div class="col-md-4 mb-4">
  
                    <div class="form-outline">
                      <select class="select form-control-lg" style="width: 300px;" id="columnF6" name="columnF6" class="form-control form-control-lg" >
                        <option value="<%= SaleId.Factura_6 %>"></option>
                        <option <%= SaleId.Factura_6 == 'PAGO' ? "selected" : '' %> value="PAGO">PAGO</option>
                       <option <%= SaleId.Factura_6 == 'SAA' ? "selected" : '' %> value="SAA">SAA</option>
                       <option <%= SaleId.Factura_6 == 'BAA' ? "selected" : '' %> value="BAA">BAA</option>
                       <option <%= SaleId.Factura_6 == 'SIN FACTURAR' ? "selected" : '' %> value="SIN FACTURAR">SIN FACTURAR</option>
                       <option <%= SaleId.Factura_6 == 'NO PAGO' ? "selected" : '' %> value="NO PAGO">NO PAGO</option>
                      </select>
                    </div>
                    <label class="form-user" for="segundoApellidoDelCliente">Factura 6 </label>
                  </div>
                  <div class="col-md-4 mb-4">
    
                    <div class="form-outline">
                        <input type="number" id="columnM6" name="columnM6" class="form-control form-control-lg" step="0.01" placeholder="0.00" value="<%= SaleId.Monto_6 %>" />
                      <label class="form-label" for="nombre">Monto 6</label>
                   </div>
                      
                  </div>
    
                  <div class="col-md-4 mb-4">
    
                    <div class="form-outline">
                        <input type="date" id="columnFP6" name="columnFP6" class="form-control form-control-lg" value="<%= SaleId.formattedFecha_Pago_6 %>" />
                      <label class="form-user" for="numeroDeDocumento">Fecha de Pago 6</label>
                    </div>
    
                  </div>
                </div>

  
              </div>


          </div>
  
             
  
              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Guardar" />
              </div>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> 