<style>
  div.prueba12,div.PruebaDvi{
    display: none;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


<% if (SaleId) { %>
<div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-12">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Editar Form</h3>
            <form action="/editPendientesEntrega" method="POST">
              <input id="SaleId" name="SaleId" value="<%= SaleId.SaleId %>" hidden>
              <div class="row">
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <input type="text" id="column1" name="column1" class="form-control form-control-lg" value="<%= SaleId.Nombre_Cliente%>" />
                    <label class="form-user" for="nombreDelCliente">Nombre del Cliente</label>
                  </div>
  
                </div>
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <input type="text" id="column2" name="column2" class="form-control form-control-lg" value="<%= SaleId.Segundo_Nombre_Cliente%>" />
                    <label class="form-user" for="segundoNombreDelCliente">Segundo Nombre del Cliente</label>
                  </div>
  
                </div>
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <input type="text" id="column3" name="column3" class="form-control form-control-lg" value="<%= SaleId.Primer_Apellido_Cliente%>" />
                    <label class="form-user" for="primerApellidoDelCliente">Primer Apellido del Cliente</label>
                  </div>
  
                </div>
              </div>
  
              <div class="row">
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <input type="text" id="column4" name="column4" class="form-control form-control-lg" value="<%= SaleId.Segundo_Apellido_Cliente%>" />
                    <label class="form-user" for="segundoApellidoDelCliente">Segundo Apellido del Cliente</label>
                  </div>
  
                </div>
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <input type="text" id="Correo" name="Correo" class="form-control form-control-lg" value="<%= SaleId.Correo_Cliente%>" />
                    <label class="form-user" for="segundoApellidoDelCliente">Correo del Cliente</label>
                  </div>
  
                </div>
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <select class="select form-control-lg" style="width: 300px;" id="Genero" name="Genero" class="form-control form-control-lg" >
                      <option value="<%= SaleId.Tipo_Tramite %>"></option>
                      <option <%= SaleId.Genero == 'Masculino' ? "selected" : '' %> value="Masculino">Masculino</option>
                     <option <%= SaleId.Genero == 'Femenino' ? "selected" : '' %> value="Femenino">Femenino</option>
                    </select>
                  </div>
                  <label class="form-user" for="tipoLlamada">Genero</label>
                    
                </div>
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="text" id="column5" name="column5" class="form-control form-control-lg" value="<%= SaleId.Documento_Identidad%>" />
                    <label class="form-label" for="nombre">Tipo De Documento De Identidad</label>
                 </div>
                    
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="text" id="column6" name="column6" class="form-control form-control-lg" value="<%= SaleId.Numero_Documento%>" />
                    <label class="form-user" for="numeroDeDocumento">Numero De Documento</label>
                  </div>
  
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="text" id="column7" name="column7" class="form-control form-control-lg" value="<%= SaleId.Nacionalidad%>" />
                    <label class="form-label" for="nombre">Nacionalidad</label>
                 </div>
                    
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="text" id="column8" name="column8" class="form-control form-control-lg" value="<%= SaleId.Celular_Tramite%>" />
                    <label class="form-user" for="numeroCelularDeTramite">Numero Celular De Tramite</label>
                  </div>
  
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                    <select class="select form-control-lg" style="width: 300px;" id="column9" name="column9" class="form-control form-control-lg" >
                      <option value="<%= SaleId.Tipo_Tramite %>"></option>
                      <option <%= SaleId.Tipo_Tramite == 'Portabilidad' ? "selected" : '' %> value="Portabilidad">Portabilidad</option>
                     <option <%= SaleId.Tipo_Tramite == 'Linea_Nueva' ? "selected" : '' %> value="Linea_Nueva">Linea Nueva</option>
                     <option <%= SaleId.Tipo_Tramite == 'Migracion' ? "selected" : '' %> value="Migracion">Migracion</option>
                     <option <%= SaleId.Tipo_Tramite == 'Linea_Regalia' ? "selected" : '' %> value="Linea_Regalia">Linea Regalia (LT)</option>
                     <option <%= SaleId.Tipo_Tramite == 'Linea_Principal' ? "selected" : '' %> value="Linea_Principal">Linea Principal (LT)</option>
                     <option <%= SaleId.Tipo_Tramite == 'Portabilidad LDS' ? "selected" : '' %> value="Portabilidad LDS">Portabilidad LDS</option>
                     <option <%= SaleId.Tipo_Tramite == 'Migracion LDS' ? "selected" : '' %> value="Migracion LDS">Migracion LDS</option>
                     <option <%= SaleId.Tipo_Tramite == 'Linea nueva LDS' ? "selected" : '' %> value="Linea nueva LDS">Linea nueva LDS</option>
                    </select>
                  </div>
                  <label class="form-user" for="tipoLlamada">Tramite</label>
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="text" id="column10" name="column10" class="form-control form-control-lg" value="<%= SaleId.Numero_Contrato%>" />
                    <label class="form-user" for="numeroDeContacto1">Numero de Contrato</label>
                  </div>
  
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="text" id="column11" name="column11" class="form-control form-control-lg" value="<%= SaleId.Numero_Abonado%>" />
                    <label class="form-user" for="numeroDeContacto2">Numero de Abonado</label>
                  </div>
  
                </div>
                
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="text" id="column12" name="column12" class="form-control form-control-lg" value="<%= SaleId.Numero_Contacto_1%>" />
                    <label class="form-label" for="nombre">Numero de Contacto 1</label>
                 </div>
                    
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="text" id="column13" name="column13" class="form-control form-control-lg" value="<%= SaleId.Numero_Contacto_2%>" />
                    <label class="form-label" for="nombre">Numero de Contacto 2</label>
                 </div>
                    
                </div>
  
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="text" id="column14" name="column14" class="form-control form-control-lg" value="<%= SaleId.Portabilidad%>" />
                    <label class="form-user" for="direccionExacta">En caso de Portabilidad</label>
                  </div>
  
                </div>

                <div class="col-md-4 mb-4">
                  <div class="form-outline">
                    <select class="select form-control-lg" style="width: 300px;" id="tipoCliente" name="tipoCliente" class="form-control form-control-lg" >
                      <option value="<%= SaleId.Tipo_Cliente %>"></option>
                      <option <%= SaleId.Tipo_Cliente == "0 - Linea Nueva" ? "selected" : "" %> value="0 - Linea Nueva">0 - Linea Nueva</option>
                      <option <%= SaleId.Tipo_Cliente == "1 - Fact < 6m (Pospago/Prepago)" ? "selected" : "" %>  value="1 - Fact < 6m (Pospago/Prepago)">1 - Fact < 6m (Pospago/Prepago)</option>
                      <option <%= SaleId.Tipo_Cliente == "2 - Fact >6m - <11m (Pospago)" ? "selected" : "" %> value="2 - Fact >6m - <11m (Pospago)">2 - Fact >6m - <11m (Pospago)</option>
                      <option <%= SaleId.Tipo_Cliente == "3 - Fact >12m+ (Pospago/Terminal)" ? "selected" : "" %> value="3 - Fact >12m+ (Pospago/Terminal)">3 - Fact >12m+ (Pospago/Terminal)</option>
                    </select>
                  </div>
                  <label class="form-user" for="tipoLlamada">Tipo de Cliente</label>
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="text" id="column15" name="column15" class="form-control form-control-lg" value="<%= SaleId.Plan_Contratar%>" />
                    <label class="form-label" for="nombre">Tipo de Plan a Contratar</label>
                 </div>
                    
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="text" id="column16" name="column16" class="form-control form-control-lg" value="<%= SaleId.Valor_Plan%>" />
                    <label class="form-user" for="canton">Valor del Plan</label>
                  </div>
  
                </div>
  
                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="text" id="column17" name="column17" class="form-control form-control-lg" value="<%= SaleId.Direccion_Exacta%>" />
                    <label class="form-user" for="distritp">Direccion Exacta</label>
                  </div>

                  
  
                </div>

                <div class="col-md-4 mb-4">
  
                  <div class="form-outline">
                      <input type="text" id="column18" name="column18" class="form-control form-control-lg" value="<%= SaleId.Provincia%>" />
                    <label class="form-user" for="tipoLlamada">Provincia</label>
                  </div>
  
                </div>
                <div class="row">
                  <div class="col-md-4 mb-4">
    
                    <div class="form-outline">
                      <input type="text" id="column19" name="column19" class="form-control form-control-lg" value="<%= SaleId.Canton%>" />
                      <label class="form-user" for="correo">Canton</label>
                    </div>
    
                  </div>
                  <div class="col-md-4 mb-4">
    
                    <div class="form-outline">
                      <input type="text" id="column20" name="column20" class="form-control form-control-lg" value="<%= SaleId.Distrito%>" />
                      <label class="form-user" for="comentario">Distrito</label>
                    </div>

    
                  </div>

                  <div class="col-md-4 mb-4">
                  <div class="form-outline">
                      <input type="text" id="column21" name="column21" class="form-control form-control-lg" value="<%= SaleId.Tipo_Llamada%>" />
                    <label class="form-user" for="tipoLlamada">Tipo de Llamada</label>
                  </div>
                </div>
                </div>

                <div class="col-md-4 mb-4">
  


                    <div class="form-outline">
                      <div class="prueba">
                          <input type="text" id="column22" name="column22" class="form-control form-control-lg" value="<%= SaleId.Nombre_Vendedor%>" />
                      <label class="form-user" for="nombreVendedor" >Nombre Vendedor</label>
                      </div>
                    </div>
                    <div class="form-outline">
                      <div class="prueba12">
                          <input type="text" id="column23" name="column23" class="form-control form-control-lg" value="<%= SaleId.Fecha%>" />
                      <label class="form-user" for="codigoLiberty" >Fecha</label>
                      </div>
                    </div>

                    <div class="form-outline" >
                      <div class="PruebaDvi">
                          <input type="text" id="column24" name="column24" class="form-control form-control-lg" value="<%= SaleId.Vendedor_Freelance%>" />
                      <label class="form-user" for="nombreVendedorFreelance" >Vendedor Freelance</label>
                      </div>
                    </div>
    
                  </div>
                  <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        <select class="select form-control-lg" style="width: 300px;" id="column25" name="column25" class="form-control form-control-lg" >
                          <option value="<%= SaleId.Cobro_Envío %>"></option>
                          <option <%= SaleId.Cobro_Envío == "SI - 2000" ? "selected" : "" %> value="SI - 2000">Si - 2000</option>
                          <option <%= SaleId.Cobro_Envío == "NO" ? "selected" : "" %>  value="NO">NO</option>
                        </select>
                      </div>
                      <label class="form-user" for="tipoLlamada">¿Cobra Envío?</label>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          <select class="select form-control-lg" style="width: 300px;" id="column26" name="column26" class="form-control form-control-lg" >
                            <option value="<%= SaleId.Activada %>"></option>
                              <option <%= SaleId.Activada == "Activada" ? "selected" : "" %> value="Activada">Activada</option>
                              <option <%= SaleId.Activada == "No Activada" ? "selected" : "" %> value="No Activada">No Activada</option>
                              <option <%= SaleId.Activada == "Pendiente" ? "selected" : "" %> value="Pendiente">Pendiente</option>
                            </select>
                      </div>
                      <label class="form-user" for="tipoLlamada">Activada / No Activada</label>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          <select class="select form-control-lg" style="width: 300px;" id="column27" name="column27" class="form-control form-control-lg" >
                            <option value="<%= SaleId.Entregada %>"></option>
                              <option <%= SaleId.Entregada == "No Entregada" ? "selected" : "" %> value="No Entregada">No Entregada</option>
                              <option <%= SaleId.Entregada == "Entregada" ? "selected" : "" %> value="Entregada">Entregada</option>
                              <option <%= SaleId.Entregada == "Pendiente" ? "selected" : "" %> value="Pendiente">Pendiente</option>
                            </select>
                      </div>
                      <label class="form-user" for="tipoLlamada">Entregada / No Entregada</label>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          <select class="select form-control-lg" style="width: 300px;" id="column28" name="column28" class="form-control form-control-lg" >
                            <option value="<%= SaleId.Rechazada %>"></option>
                              <option <%= SaleId.Rechazada == "Cliente no Contesta" ? "selected" : "" %> value="Cliente no Contesta">Cliente no Contesta</option>
                              <option <%= SaleId.Rechazada == "Rechazada" ? "selected" : "" %> value="Rechazada">Rechazada</option>
                            </select>
                      </div>
                      <label class="form-user" for="tipoLlamada">Rechazada / Cliente no Contesta</label>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          <input type="text" id="column29" name="column29" class="form-control form-control-lg" value="<%= SaleId.Detalle%>" />
                        <label class="form-user" for="tipoLlamada">Detalle de Entrega</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          <select class="select form-control-lg" style="width: 300px;" id="column30" name="column30" class="form-control form-control-lg" >
                            <option value="<%= SaleId.Entregador %>"></option>
                              <option <%= SaleId.Entregador == "Rapi Entregas" ? "selected" : "" %> value="Rapi Entregas">Rapi Entregas</option>
                              <option <%= SaleId.Entregador == "Almatelecom" ? "selected" : "" %> value="Almatelecom">Almatelecom</option>
                              <option <%= SaleId.Entregador == "Ronal SJ" ? "selected" : "" %> value="Ronal SJ">Ronal SJ</option>
                              <option <%= SaleId.Entregador == "Jose Guanacaste" ? "selected" : "" %> value="Jose Guanacaste">Jose Guanacaste</option>
                              <option <%= SaleId.Entregador == "Correos" ? "selected" : "" %> value="Correos">Correos</option>
                              <option <%= SaleId.Entregador == "Ventas Oficina" ? "selected" : "" %> value="Ventas Oficina">Ventas Oficina </option>
                              <option <%= SaleId.Entregador == "Allan Porras" ? "selected" : "" %> value="Allan Porras">Allan Porras</option>
                              <option <%= SaleId.Entregador == "Diego Mendoza" ? "selected" : "" %> value="Diego Mendoza">Diego Mendoza</option>
                              <option <%= SaleId.Entregador == "Harold Barrido" ? "selected" : "" %> value="Harold Barrido">Harold Barrido</option>
                              <option <%= SaleId.Entregador == "ILG" ? "selected" : "" %> value="ILG">ILG</option>
                            </select>
                      </div>
                      <label class="form-user" for="tipoLlamada">Entregador</label>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          <select class="select form-control-lg" style="width: 300px;" id="column31" name="column31" class="form-control form-control-lg" >
                            <option value="<%= SaleId.Estados %>"></option>
                              <option <%= SaleId.Estados == "AAA" ? "selected" : "" %> value="AAA">AAA</option>
                              <option <%= SaleId.Estados == "BAA" ? "selected" : "" %> value="BAA">BAA</option>
                              <option <%= SaleId.Estados == "ATP" ? "selected" : "" %> value="ATP">ATP</option>
                              <option <%= SaleId.Estados == "SUSP" ? "selected" : "" %> value="SUSP">SUSP</option>
                              <option <%= SaleId.Estados == "PP" ? "selected" : "" %> value="PP">PP</option>
                              <option <%= SaleId.Estados == "NA" ? "selected" : "" %> value="NA">NA</option>
                            </select>
                      </div>
                      <label class="form-user" for="tipoLlamada">Estados</label>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          <select class="select form-control-lg" style="width: 300px;" id="column32" name="column32" class="form-control form-control-lg" >
                            <option value="<%= SaleId.Llamada_Activacion %>"></option>
                              <option <%= SaleId.Llamada_Activacion == 'SI' ? "selected" : '' %> value="SI">SI</option>
                              <option <%= SaleId.Llamada_Activacion == 'NO' ? "selected" : '' %> value="NO">NO</option>
                            </select>
                      </div>
                      <label class="form-user" for="tipoLlamada">Llamada de Activacion </label>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          <input type="date" id="column33" name="column33" class="form-control form-control-lg" value="<%= SaleId.formattedFechaActivacion %>" />
                        <label class="form-user" for="tipoLlamada">Fecha de Activacion</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          <input type="date" id="column34" name="column34" class="form-control form-control-lg" value="<%= SaleId.formattedFechaEntrega%>" />
                        <label class="form-user" for="tipoLlamada">Fecha de Entrega</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          <input type="date" id="FechaUA" name="FechaUA" class="form-control form-control-lg" value="<%= SaleId.formattedFechaUltimaActualizacion%>" />
                        <label class="form-user" for="tipoLlamada">Fecha Ultima Actualizacion</label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          <select class="select form-control-lg" style="width: 300px;" id="column35" name="column35" class="form-control form-control-lg" >
                            <option value="<%= SaleId.Primera_Revision %>"></option>
                              <option <%= SaleId.Primera_Revision == "Alta" ? "selected" : "" %> value="Alta">Alta</option>
                              <option <%= SaleId.Primera_Revision == "Baja" ? "selected" : "" %> value="Baja">Baja</option>
                              <option <%= SaleId.Primera_Revision == "No Portada" ? "selected" : "" %> value="No Portada">No Portada</option>
                              <option <%= SaleId.Primera_Revision == "Suspendida" ? "selected" : "" %> value="Suspendida">Suspendida</option>
                            </select>
                        <label class="form-user" for="tipoLlamada">Primera Revision </label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          <select class="select form-control-lg" style="width: 300px;" id="column36" name="column36" class="form-control form-control-lg" >
                            <option value="<%= SaleId.Segunda_Revision %>"></option>
                              <option <%= SaleId.Segunda_Revision == "Alta" ? "selected" : "" %> value="Alta">Alta</option>
                              <option <%= SaleId.Segunda_Revision == "Baja" ? "selected" : "" %> value="Baja">Baja</option>
                              <option <%= SaleId.Segunda_Revision == "No Portada" ? "selected" : "" %> value="No Portada">No Portada</option>
                              <option <%= SaleId.Segunda_Revision == "Suspendida" ? "selected" : "" %> value="Suspendida">Suspendida</option>
                            </select>
                        <label class="form-user" for="tipoLlamada">Segunda Revision </label>
                      </div>
                    </div>

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        <input type="text" id="column37" name="column37" class="form-control form-control-lg" value="<%= SaleId.NIP %>" />
                      <label class="form-user" for="tipoLlamada">NIP</label>
                    </div>
                  </div>
                  <div class="col-md-4 mb-4">
                    <div class="form-outline" >
                          <input type="text" id="column38" name="column38" class="form-control form-control-lg" value="<%= SaleId.Detalle_Activacion%>" />
                      <label class="form-user" for="nombreVendedorFreelance" >Detalle de Activacion</label>
                    </div>
                  </div>

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        <input type="text" id="column39" name="column39" class="form-control form-control-lg" value="<%= SaleId.MOVICHECK%>" />
                        <label class="form-user" for="tipoLlamada">Numero de GESTION MOVICHECK </label>
                      </div>
                    </div>

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          <select class="select form-control-lg" style="width: 300px;" id="column40" name="column40" class="form-control form-control-lg" >
                            <option value="<%= SaleId.Bloqueo_Desbloqueo %>"></option>
                              <option <%= SaleId.Bloqueo_Desbloqueo == "Bloqueada" ? "selected" : "" %> value="Bloqueada">Bloqueada</option>
                              <option <%= SaleId.Bloqueo_Desbloqueo == "Desbloqueada" ? "selected" : "" %> value="Desbloqueada">Desbloqueada</option>
                            </select>
                        <label class="form-user" for="tipoLlamada">Bloqueada / Desbloqueada </label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          <select class="select form-control-lg" style="width: 300px;" id="column41" name="column41" class="form-control form-control-lg" >
                            <option value="<%= SaleId.Activadora %>"></option>
                              <option <%= SaleId.Activadora == "María Celeste Villalobos" ? "selected" : "" %> value="María Celeste Villalobos">María Celeste Villalobos</option>
                              <option <%= SaleId.Activadora == "Maria Fernanda Vargas Vega" ? "selected" : "" %> value="Maria Fernanda Vargas Vega">Maria Fernanda Vargas Vega</option>
                              <option <%= SaleId.Activadora == "Daniela Mora Arias" ? "selected" : "" %> value="Daniela Mora Arias">Daniela Mora Arias</option>
                              <option <%= SaleId.Activadora == "Monserrath García Castro" ? "selected" : "" %> value="Monserrath García Castro">Monserrath García Castro</option>
                            </select>
                        <label class="form-user" for="tipoLlamada">Activadora </label>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4"id="prueba12">
                    <div class="form-outline" id="prueba12">
                      <input type="text" id="column42" name="column42" class="form-control form-control-lg" value="<%= SaleId.MES_TRABAJADA%>" />
                    <label class="form-user" for="tipoLlamada">Mes</label>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="form-outline">
                      <select class="select form-control-lg" style="width: 300px;" id="column43" name="column43" class="form-control form-control-lg" >
                        <option value="<%= SaleId.Terminal %>"></option>
                          <option <%= SaleId.Terminal == "SIN terminal" ? "selected" : "" %> value="SIN terminal">SIN terminal</option> 
                          <option <%= SaleId.Terminal == "CON terminal" ? "selected" : "" %> value="CON terminal">CON terminal</option>
                        </select>
                  </div>
                  <label class="form-user" for="tipoLlamada">Terminal </label>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="form-outline">
                    <input type="text" id="Modelo_Terminal" name="Modelo_Terminal" class="form-control form-control-lg" value="<%= SaleId.Modelo_Terminal%>" />
                    <label class="form-user" for="tipoLlamada"> Modelo Terminal </label>
                  </div>
                </div>
              <div class="col-md-4 mb-4">
                <div class="form-outline">
                  <select class="select form-control-lg" style="width: 300px;" id="column44" name="column44" class="form-control form-control-lg" >
                    <option value="<%= SaleId.Pago_Comision %>"></option>
                      <option <%= SaleId.Pago_Comision == "PAGO" ? "selected" : "" %> value="PAGO">PAGO</option>
                      <option <%= SaleId.Pago_Comision == "NO PAGO" ? "selected" : "" %> value="NO PAGO">NO PAGO</option>
                      <option <%= SaleId.Pago_Comision == "SIN FACTURAR" ? "selected" : "" %> value="SIN FACTURAR">SIN FACTURAR</option>
                    </select>
                    <label class="form-user" for="tipoLlamada">Pago Comision</label>
                </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="form-outline">
                <input type="text" id="column45" name="column45" class="form-control form-control-lg" value="<%= SaleId.Numero_Provisional%>" />
                <label class="form-user" for="tipoLlamada">Numero Provisional </label>
              </div>
            </div>
  
              </div>


          </div>
  
             
  
              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Guardar" />
              </div>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <% } %>