<h2>Bienvenido de vuelta: 
  <% if(user) {%>
    <span class="badge bg-success"> <%= user.nombre %></span>
    <%}%>
</h2>
<h2>Su Rol es: 
  <% if(user) {%>
    <span class="badge bg-success"> <%= user.rol %></span>
    <%}%>
</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Correo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Rol</th>
    </tr>
  </thead>
  <tbody>
    <% results.forEach((user) => {%>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.user %></td>
        <td><%= user.nombre %></td>
        <td><%=user.rol %></td>
        <td><%=user.pass %></td>
        <td>
          <a href="/editarUser/<%= user.id %>" class="btn btn-outline-info">Editar</a>
          <a href="/borrarUser/<%= user.id %>" class="btn btn-outline-info">Borrar</a>
          
        </td>
      </tr>
      <% });%> 
    
  </tbody>
  
</table>
<br>
<a href="register" class="btn btn-outline-info">Registrar</a>