
<h2>Mis Estadisticas</h2>

<h2>Vendedor: 
  <% if(user) {%>
      <span class="badge bg-success"> <%= user.nombre %></span>
      <%}%>
</h2>
<br>
<div id="position" style="font-size: 24px;">
  <input type="checkbox" id="pos1" value="No Localizado 1" onclick="myFunctionEnero()">Enero
  <input type="checkbox" id="pos2" value="No Localizado 1" onclick="myFunctionFebrero()">Febrero
  <input type="checkbox" id="pos3" value="No Localizado 1" onclick="myFunctionMarzo()">Marzo
  <input type="checkbox" id="pos4" value="No Localizado 1" onclick="myFunctionAbril()">Abril
  <input type="checkbox" id="pos5" value="No Localizado 1" onclick="myFunctionMayo()">Mayo
  <input type="checkbox" id="pos6" value="No Localizado 1" onclick="myFunctionJunio()" >Junio
  <input type="checkbox" id="pos7" value="No Localizado 1" onclick="myFunctionJulio()">Julio
  <input type="checkbox" id="pos8" value="No Localizado 1" onclick="myFunctionAgosto()">Agosto
  <input type="checkbox" id="pos9" value="No Localizado 1" onclick="myFunctionSeptiembre()">Septiembre
  <input type="checkbox" id="pos10" value="No Localizado 1" onclick="myFunctionOctubre()">Octubre
  <input type="checkbox" id="pos11" value="No Localizado 1" onclick="myFunctionNoviembre()">Noviembre
  <input type="checkbox" id="pos12" value="No Localizado 1" onclick="myFunctionDiciembre()">Diciembre
</div>
<br>
<div id="total">
  <h1 style="align-text: center;">Ventas Totales</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][1] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][2] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][3] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="enero">
  <h1 style="align-text: center;">Ventas Enero</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][6] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][7] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][8] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="febrero">
  <h1 style="align-text: center;">Ventas Febrero</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][9] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][10] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][11] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="marzo">
  <h1 style="align-text: center;">Ventas Marzo</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][12] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][13] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][14] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="abril">
  <h1 style="align-text: center;">Ventas Abril</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][15] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][16] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][17] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="mayo">
  <h1 style="align-text: center;">Ventas Mayo</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][18] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][19] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][20] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="junio">
  <h1 style="align-text: center;">Ventas junio</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][21] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][22] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][23] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="julio">
  <h1 style="align-text: center;">Ventas Julio</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][24] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][25] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][26] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="agosto">
  <h1 style="align-text: center;">Ventas Agosto</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][27] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][28] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][29] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="septiembre">
  <h1 style="align-text: center;">Ventas Septiembre</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][30] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][31] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][32] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="octubre">
  <h1 style="align-text: center;">Ventas Octubre</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][33] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][34] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][35] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="noviembre">
  <h1 style="align-text: center;">Ventas Noviembre</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][36] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][37] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][38] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="diciembre">
  <h1 style="align-text: center;">Ventas Diciembre</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][39] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][40] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][41] %></p>
            </div>
        </div>
    </div>
</div>
</div>

</div>

<br>
<a href="register" class="btn btn-outline-success">Registrar</a>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

<script>
  $(document).ready(function () {
      var table = $('#ventas').DataTable({
      });
     
       // Encuentra el índice de la columna "Nombre Vendedor"
var columnaNombreVendedor = table.column(0).index();

// Filtra la tabla por el valor de user.name en la columna "Nombre Vendedor"
table.column(columnaNombreVendedor).search("<%= user.nombre %>").draw();
   
});

  function confirmar(id){
    Swal.fire({
  title: 'Seguro que quiere borrar este usuario '+id+'?',
  text: "No se podra recuperar",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Confirmar'
}).then((result) => {
  if (result.isConfirmed) {
    Swal.fire(
      'Borrado!',
      'El usuario fue borrado correctamente',
      'success'
    )
    window.location = '/borrarUser/'+id;
  }
})
  }
</script>

<script>
    
document.getElementById("enero").hidden=true;
    document.getElementById("febrero").hidden=true;
    document.getElementById("marzo").hidden=true;
    document.getElementById("abril").hidden=true;
    document.getElementById("mayo").hidden=true;
    document.getElementById("junio").hidden=true;
    document.getElementById("julio").hidden=true;
    document.getElementById("agosto").hidden=true;
    document.getElementById("septiembre").hidden=true;
    document.getElementById("octubre").hidden=true;
    document.getElementById("noviembre").hidden=true;
    document.getElementById("diciembre").hidden=true;

    function myFunctionEnero () {
      if (document.getElementById("enero").hidden=true) {
          document.getElementById("enero").hidden=false;
        } else {
          document.getElementById("enero").hidden=true;
        }
     }
     function myFunctionFebrero () {
      if (document.getElementById("febrero").hidden=true) {
          document.getElementById("febrero").hidden=false;
        } else {
          document.getElementById("febrero").hidden=true;
        }
     }
     function myFunctionMarzo () {
      if (document.getElementById("marzo").checked=true) {
          document.getElementById("marzo").hidden=false;
        } else {
          document.getElementById("marzo").hidden=true;
        }
     }
     function myFunctionAbril () {
      if (document.getElementById("abril").hidden=true) {
          document.getElementById("abril").hidden=false;
        } else {
          document.getElementById("abril").hidden=true;
        }
     }
     function myFunctionMayo () {
      if (document.getElementById("mayo").hidden=true) {
          document.getElementById("mayo").hidden=false;
        } else {
          document.getElementById("mayo").hidden=true;
        }
     }
     function myFunctionJunio () {
      if (document.getElementById("junio").hidden=true) {
          document.getElementById("junio").hidden=false;
        } else {
          document.getElementById("junio").hidden=true;
        }
     }
     function myFunctionJulio () {
      if (document.getElementById("julio").hidden=true) {
          document.getElementById("julio").hidden=false;
        } else {
          document.getElementById("julio").hidden=true;
        }
     }
     function myFunctionAgosto () {
      if (document.getElementById("agosto").hidden=true) {
          document.getElementById("agosto").hidden=false;
        } else {
          document.getElementById("agosto").hidden=true;
        }
     }
     function myFunctionSeptiembre () {
      if (document.getElementById("septiembre").hidden=true) {
          document.getElementById("septiembre").hidden=false;
        } else {
          document.getElementById("septiembre").hidden=true;
        }
     }
     function myFunctionOctubre () {
      if (document.getElementById("octubre").hidden=true) {
          document.getElementById("octubre").hidden=false;
        } else {
          document.getElementById("octubre").hidden=true;
        }
     }
     function myFunctionNoviembre () {
      if (document.getElementById("noviembre").hidden=true) {
          document.getElementById("noviembre").hidden=false;
        } else {
          document.getElementById("noviembre").hidden=true;
        }
     }
     function myFunctionDiciembre () {
      if (document.getElementById("diciembre").hidden=true) {
          document.getElementById("diciembre").hidden=false;
        } else {
          document.getElementById("diciembre").hidden=true;
        }
     }

</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Category', 'Value', 'prueba'],
        ['<%= rows[0][0] %>', <%= rows[0][1] %>, <%= rows[0][2] %>],
    ]);

    var options = {
      title: 'Total de Ventas',
      colors: ['#fcba03', '#9403fc', '#FF9900', '#109618', '#990099', '#3B3EAC']
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script> 


<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Category', 'Value'],
      <% for(var i=0; i<rows.length; i++) { %>
        ['<%= rows[i][0] %>', <%= rows[i][2] %>],
      <% } %>
    ]);

    var options = {
      title: 'Total de activadas',
      colors: ['#fcba03', '#9403fc', '#FF9900', '#109618', '#990099', '#3B3EAC']
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart_div1'));
    chart.draw(data, options);
  }
</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Category', 'Value'],
      <% for(var i=0; i<rows.length; i++) { %>
        ['<%= rows[i][0] %>', <%= rows[i][1] %>],
      <% } %>
    ]);

    var options = {
      title: 'My Chart',
      legend: { position: 'none' },
      chartArea: { width: '80%', height: '80%' },
      colors: ['fcba03'],
      hAxis: {
        title: 'Category'
      },
      vAxis: {
        title: 'Value'
      }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
    chart.draw(data, options);
  }
</script>

