<link rel="" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">
<link rel="" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
<h2>Mis Estadisticas</h2>

<h2>Vendedor: 
  <% if(user) {%>
      <span class="badge bg-success"> <%= user.nombre %></span>
      <%}%>
</h2>
<br>
<div id="position" style="font-size: 24px;">
  <input type="checkbox" id="pos1" value="No Localizado 1" onclick="myFunctionEnero()">Enero
  <input type="checkbox" id="pos2" value="No Localizado 1" onclick="myFunctionFebrero()">Febrero
  <input type="checkbox" id="pos3" value="No Localizado 1" onclick="myFunctionMarzo()">Marzo
  <input type="checkbox" id="pos4" value="No Localizado 1" onclick="myFunctionAbril()">Abril
  <input type="checkbox" id="pos5" value="No Localizado 1" onclick="myFunctionMayo()">Mayo
  <input type="checkbox" id="pos6" value="No Localizado 1" onclick="myFunctionJunio()" >Junio
  <input type="checkbox" id="pos7" value="No Localizado 1" onclick="myFunctionJulio()">Julio
  <input type="checkbox" id="pos8" value="No Localizado 1" onclick="myFunctionAgosto()">Agosto
  <input type="checkbox" id="pos9" value="No Localizado 1" onclick="myFunctionSeptiembre()">Septiembre
  <input type="checkbox" id="pos10" value="No Localizado 1" onclick="myFunctionOctubre()">Octubre
  <input type="checkbox" id="pos11" value="No Localizado 1" onclick="myFunctionNoviembre()">Noviembre
  <input type="checkbox" id="pos12" value="No Localizado 1" onclick="myFunctionDiciembre()">Diciembre
</div>
<br>
<div id="total">
  <h1 style="align-text: center;">Ventas Totales</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][1] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][2] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][3] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="enero">
  <h1 style="align-text: center;">Ventas Enero</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][6] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][7] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][8] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="febrero">
  <h1 style="align-text: center;">Ventas Febrero</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][9] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][10] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][11] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="marzo">
  <h1 style="align-text: center;">Ventas Marzo</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][12] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][13] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][14] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="abril">
  <h1 style="align-text: center;">Ventas Abril</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][15] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][16] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][17] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="mayo">
  <h1 style="align-text: center;">Ventas Mayo</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][18] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][19] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][20] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="junio">
  <h1 style="align-text: center;">Ventas junio</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][21] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][22] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][23] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="julio">
  <h1 style="align-text: center;">Ventas Julio</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][24] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][25] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][26] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="agosto">
  <h1 style="align-text: center;">Ventas Agosto</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][27] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][28] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][29] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="septiembre">
  <h1 style="align-text: center;">Ventas Septiembre</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][30] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][31] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][32] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="octubre">
  <h1 style="align-text: center;">Ventas Octubre</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][33] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][34] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][35] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="noviembre">
  <h1 style="align-text: center;">Ventas Noviembre</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][36] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][37] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][38] %></p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="diciembre">
  <h1 style="align-text: center;">Ventas Diciembre</h1>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][39] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas Activadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][40] %></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total de Ventas NO Entregadas</h5>
                <p class="card-text" style="font-size: px;"><%= rows[0][41] %></p>
            </div>
        </div>
    </div>
</div>
</div>

<h2>Registro de Ventas Movil</h2>

<div id="div2">
    <div class="centered">
      <h6 style="text-align: center;">Estado:</h6>
      <div id="position" style="font-size: 24px;">
        <input type="checkbox" id="pos" name="pos" value="Activada">Activada
        <input type="checkbox" id="pos" name="pos" value="No Activada">No Activada
        <input type="checkbox" id="pos3"  name="pos3" value="Pendiente" >Pendiente
        <input type="checkbox" id="pos2" name="pos2" value="Entregada">Entregada
        <input type="checkbox" id="pos2" name="pos2" value="No Entregada">No Entregada
        <input type="checkbox" id="pos4" name="pos4" value="Pendiente">Pendiente Entrega
    </div>
  </div>

  <div  class="table-responsive">
    
    <table id="ventas" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Acciones</th>
          <th scope="col">Detalle</th>
        <th scope="col">NIP</th>
          <th scope="col">Nombre Del Cliente</th>
          <th scope="col">Segundo Nombre Del Cliente</th>
          <th scope="col">Primer Apellido Del Cliente</th>
          <th scope="col">Segundo Apellido Del Cliente</th>
          <th scope="col">Tipo De Documento De Identidad</th>
          <th scope="col">Numero De Documento</th>
          <th scope="col">Nacionalidad</th>
          <th scope="col">Numero Celular De Tramite</th>
          <th scope="col">Tipo De Tramite</th>
          <th scope="col">Numero De Contacto1</th>
          <th scope="col">Numero De Contacto 2</th>
          <th scope="col">En Caso De Portabilidad</th>
          <th scope="col">Tipo De Plan A Contratar</th>
          <th scope="col">Valor Del Plan</th>
          <th scope="col">Provincia</th>
          <th scope="col">Canton</th>
          <th scope="col">Distrito</th>
          <th scope="col">Nombre del Vendedor</th>
          <th scope="col">Fecha</th>
          <th scope="col">Activada / No Activada</th>
        <th scope="col">Entregada / No Entregada</th>
        <th scope="col">Rechazada / Cliente no Contesta</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < rows2.length; i++) { %>
          <tr>
            <td>
              <a href="/editVentas/<%= i+2 %>">Edit</a>
            </td>
            <td><%= rows2[i][28] %></td>
            <td><%= rows2[i][33] %></td>
            <td><%= rows2[i][0] %></td>
            <td><%= rows2[i][1] %></td>
            <td><%= rows2[i][2] %></td>
            <td><%= rows2[i][3] %></td>
            <td><%= rows2[i][4] %></td>
            <td><%= rows2[i][5] %></td>
            <td><%= rows2[i][6] %></td>
            <td><%= rows2[i][7] %></td>
            <td><%= rows2[i][8] %></td>
            <td><%= rows2[i][11] %></td>
            <td><%= rows2[i][12] %></td>
            <td><%= rows2[i][13] %></td>
            <td><%= rows2[i][14] %></td>
            <td><%= rows2[i][15] %></td>
            <td><%= rows2[i][17] %></td>
            <td><%= rows2[i][18] %></td>
            <td><%= rows2[i][19] %></td>
            <td><%= rows2[i][21] %></td>
            <td><%= rows2[i][22] %></td>
            <td><%= rows2[i][25] %></td>
            <td><%= rows2[i][26] %></td>
            <td><%= rows2[i][27] %></td>
          </tr>
        <% } %>
      </tbody>
      
      
    </table>
  
  </div>

</div>

<br>
<a href="register" class="btn btn-outline-success">Registrar</a>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
      

<script>
$(document).ready(function () {
    $.fn.dataTable.ext.search.push(
    function( settings, searchData, index, rowData, counter ) {
      var positions = $('input:checkbox[name="pos"]:checked').map(function() {
        return this.value;
      }).get();
   
      if (positions.length === 0) {
        return true;
      }
      
      if (positions.indexOf(searchData[22]) !== -1) {
        return true;
      }
      
      return false;
    }
  );
  $.fn.dataTable.ext.search.push(
    function( settings, searchData, index, rowData, counter ) {
      var positions = $('input:checkbox[name="pos2"]:checked').map(function() {
        return this.value;
      }).get();
   
      if (positions.length === 0) {
        return true;
      }
      
      if (positions.indexOf(searchData[23]) !== -1) {
        return true;
      }
      
      return false;
    }
  );
  $.fn.dataTable.ext.search.push(
    function( settings, searchData, index, rowData, counter ) {
      var positions = $('input:checkbox[name="pos3"]:checked').map(function() {
        return this.value;
      }).get();
   
      if (positions.length === 0) {
        return true;
      }
      
      if (positions.indexOf(searchData[22]) !== -1) {
        return true;
      }
      
      return false;
    }
  );
  $.fn.dataTable.ext.search.push(
    function( settings, searchData, index, rowData, counter ) {
      var positions = $('input:checkbox[name="pos4"]:checked').map(function() {
        return this.value;
      }).get();
   
      if (positions.length === 0) {
        return true;
      }
      
      if (positions.indexOf(searchData[23]) !== -1) {
        return true;
      }
      
      return false;
    }
  );

        var table = $('#ventas').DataTable({
            order: [[19, 'asc']],
            //fixedHeader: true 
        });

        $('#ventas thead tr').clone(true).appendTo( '#ventas thead' );

        $('#ventas thead tr:eq(1) th').each( function (i) {
         var title = $(this).text(); //es el nombre de la columna
          $(this).html( '<input type="text" placeholder="Search...'+title+'" />' );

          $( 'input', this ).on( 'keyup change', function () {
             if ( table.column(i).search() !== this.value ) {
                  table
                     .column(i)
                     .search( this.value )
                     .draw();
        }
    } );
} );

/*
var tableData = table.data().toArray();
var currentMonth = new Date().getMonth(6);

var filteredData = tableData.filter(function(row) {
  var dateString = row[21];
  // Convert the date string to a Date object
  var dateParts = dateString.split("/");
  var date = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
  // Check if the month of the date is the same as the current month
  return date.getMonth() + 1 === currentMonth;
});


table.clear().rows.add(filteredData).draw();*/

$('input:checkbox').on('change', function () {
    table.draw();
 });
       
       // Encuentra el índice de la columna "Nombre Vendedor"
var columnaNombreVendedor = table.column(20).index();

// Filtra la tabla por el valor de user.name en la columna "Nombre Vendedor"
table.column(columnaNombreVendedor).search("<%= user.nombre %>").draw();

  });



</script>

<script>
    
document.getElementById("enero").hidden=true;
    document.getElementById("febrero").hidden=true;
    document.getElementById("marzo").hidden=true;
    document.getElementById("abril").hidden=true;
    document.getElementById("mayo").hidden=true;
    document.getElementById("junio").hidden=true;
    document.getElementById("julio").hidden=true;
    document.getElementById("agosto").hidden=true;
    document.getElementById("septiembre").hidden=true;
    document.getElementById("octubre").hidden=true;
    document.getElementById("noviembre").hidden=true;
    document.getElementById("diciembre").hidden=true;

    function myFunctionEnero () {
      if (document.getElementById("enero").hidden=true) {
          document.getElementById("enero").hidden=false;
        } else {
          document.getElementById("enero").hidden=true;
        }
     }
     function myFunctionFebrero () {
      if (document.getElementById("febrero").hidden=true) {
          document.getElementById("febrero").hidden=false;
        } else {
          document.getElementById("febrero").hidden=true;
        }
     }
     function myFunctionMarzo () {
      if (document.getElementById("marzo").checked=true) {
          document.getElementById("marzo").hidden=false;
        } else {
          document.getElementById("marzo").hidden=true;
        }
     }
     function myFunctionAbril () {
      if (document.getElementById("abril").hidden=true) {
          document.getElementById("abril").hidden=false;
        } else {
          document.getElementById("abril").hidden=true;
        }
     }
     function myFunctionMayo () {
      if (document.getElementById("mayo").hidden=true) {
          document.getElementById("mayo").hidden=false;
        } else {
          document.getElementById("mayo").hidden=true;
        }
     }
     function myFunctionJunio () {
      if (document.getElementById("junio").hidden=true) {
          document.getElementById("junio").hidden=false;
        } else {
          document.getElementById("junio").hidden=true;
        }
     }
     function myFunctionJulio () {
      if (document.getElementById("julio").hidden=true) {
          document.getElementById("julio").hidden=false;
        } else {
          document.getElementById("julio").hidden=true;
        }
     }
     function myFunctionAgosto () {
      if (document.getElementById("agosto").hidden=true) {
          document.getElementById("agosto").hidden=false;
        } else {
          document.getElementById("agosto").hidden=true;
        }
     }
     function myFunctionSeptiembre () {
      if (document.getElementById("septiembre").hidden=true) {
          document.getElementById("septiembre").hidden=false;
        } else {
          document.getElementById("septiembre").hidden=true;
        }
     }
     function myFunctionOctubre () {
      if (document.getElementById("octubre").hidden=true) {
          document.getElementById("octubre").hidden=false;
        } else {
          document.getElementById("octubre").hidden=true;
        }
     }
     function myFunctionNoviembre () {
      if (document.getElementById("noviembre").hidden=true) {
          document.getElementById("noviembre").hidden=false;
        } else {
          document.getElementById("noviembre").hidden=true;
        }
     }
     function myFunctionDiciembre () {
      if (document.getElementById("diciembre").hidden=true) {
          document.getElementById("diciembre").hidden=false;
        } else {
          document.getElementById("diciembre").hidden=true;
        }
     }

</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Category', 'Value', 'prueba'],
        ['<%= rows[0][0] %>', <%= rows[0][1] %>, <%= rows[0][2] %>],
    ]);

    var options = {
      title: 'Total de Ventas',
      colors: ['#fcba03', '#9403fc', '#FF9900', '#109618', '#990099', '#3B3EAC']
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script> 


<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Category', 'Value'],
      <% for(var i=0; i<rows.length; i++) { %>
        ['<%= rows[i][0] %>', <%= rows[i][2] %>],
      <% } %>
    ]);

    var options = {
      title: 'Total de activadas',
      colors: ['#fcba03', '#9403fc', '#FF9900', '#109618', '#990099', '#3B3EAC']
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart_div1'));
    chart.draw(data, options);
  }
</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Category', 'Value'],
      <% for(var i=0; i<rows.length; i++) { %>
        ['<%= rows[i][0] %>', <%= rows[i][1] %>],
      <% } %>
    ]);

    var options = {
      title: 'My Chart',
      legend: { position: 'none' },
      chartArea: { width: '80%', height: '80%' },
      colors: ['fcba03'],
      hAxis: {
        title: 'Category'
      },
      vAxis: {
        title: 'Value'
      }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
    chart.draw(data, options);
  }
</script>

