<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="container py-5 h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-12 col-lg-9 col-xl-7">
      <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
        <div class="card-body p-4 p-md-5">
          <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Plantilla de Venta</h3>
          <form action="/generatePayslip" method="POST">

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-user" for="Favtel">Favtel</label>
                    </div>
                  </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Vendedor">Vendedor : <%= Nombre_Vendedor %> (<%= codigoLiberty %>)</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Nombre_del_cliente">Nombre del cliente : <%= Nombre_Cliente %> <%= Segundo_Nombre_Cliente %> <%= Primer_Apellido_Cliente %> <%= Segundo_Apellido_Cliente %></label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Numero_de_cedula">Numero de cedula : <%= Numero_Documento %></label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Numero_a_portar">Numero de tramite : <%= Celular_Tramite %></label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="tipo_tramite">Tipo de Tramite : <%= Tipo_Tramite %> </label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Operdador">Operador : <%= Portabilidad %></label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Numero_de_contacto">Numero de contacto : <%= Numero_Contacto_1 %></label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Numero_de_contacto">Numero de contacto 2 : <%= Numero_Contacto_2 %></label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Correo_electrónico">Correo electrónico : <%= correo %></label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Provincia">Provincia : <%= Provincia %></label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Cantón">Cantón : <%= Canton %></label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Distrito">Distrito : <%= Distrito %></label>
                </div>
              </div>

              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Dirección_exacta">Dirección exacta : <%= Direccion_Exacta %></label>
                </div>
              </div>
              <% if (Plan_Contratar === "@1Plus"||Plan_Contratar ==="@2"||Plan_Contratar ==="@1") { %>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Tipo_de_plan">Tipo de plan : <%= tipoDePlanAContratar1 %></label>
                </div>
              </div>
              <% } else { %>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-user" for="Tipo_de_plan">Tipo de plan : <%= Plan_Contratar %></label>
                  </div>
                </div>
                <% } %>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Cobro_de_envió">Cobro de envió : <%= Cobro_Envío %></label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="Comentarios">Comentarios : <%= comentario %></label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="sims">sims : 2</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-user" for="movicheck">movicheck : 1</label>
                </div>
              </div>
              
            </div>

