<link rel="stylesheet" href="css/rwd-table.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.dataTables.css">
    <style>
      div.dt-container {
        width: 1200px;
        margin: 0 auto;
    }
    </style>
<h2>Bienvenido de vuelta: 
  <% if(user) {%>
    <span class="badge bg-success"> <%= user.nombre %></span>
    <%}%>
</h2>
<h2>Su Rol es: 
  <% if(user) {%>
    <span class="badge bg-success"> <%= user.rol %></span>
    <%}%>
</h2>

<h2>
    Lista de REVENUE Setiembre 2025
</h2>

              <div class="container">

                <table id="example" class="table table-striped nowrap" style="width:100%">
                  <thead>
                    <tr>
                      <th scope="col">Acciones</th>
                      <th scope="col">Numero de Venta</th>
                      <th scope="col">Numero Celular De Tramite</th>
                      <th scope="col">Numero de Abonado</th>
                      <th scope="col">Factura 1</th>
                      <th scope="col">Factura 2</th>
                      <th scope="col">Factura 3</th>
                      <th scope="col">Factura 4</th>
                      <th scope="col">Factura 5</th>
                      <th scope="col">Factura 6</th>
                      <th scope="col">Numero de Contrato</th>
                      <th scope="col">Nombre del Vendedor</th>
                      <th scope="col">Activada / No Activada</th>
                      <th scope="col">Entregador</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Tipo de Tramite</th>
                    </tr>
                </thead>
                  <tbody>
                    <% results.forEach((sale)=> { %>
                      <tr>
                        <td>
                          <a href="/editRevSet25/<%= sale.SaleId %>">Editar</a>
                        </td>
                        <td><%= sale.SaleId %></td>
                        <td><%= sale.Celular_Tramite %></td>
                        <td><%= sale.Numero_Abonado %></td>
                        <td><%= sale.Factura_1 %></td>
                        <td><%= sale.Factura_2 %></td>
                        <td><%= sale.Factura_3 %></td>
                        <td><%= sale.Factura_4 %></td>
                        <td><%= sale.Factura_5 %></td>
                        <td><%= sale.Factura_6 %></td>
                        <td><%= sale.Numero_Contrato %></td>
                        <td><%= sale.Nombre_Vendedor %></td>
                        <td><%= sale.Activada %></td>
                        <td><%= sale.Entregador %></td>
                        <td><%= sale.Estado %></td>
                        <td><%= sale.Tipo_Tramite %></td>
                      </tr>
                    <% }) %>
                  </tbody>
              </table>

              </div>

                
                <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
                <script src="https://cdn.datatables.net/2.1.6/js/dataTables.js"></script>
                <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
                <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
                <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
                <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>

                <script>
                  new DataTable('#example', {
                    scrollX: true,
                       layout: {
                           topStart: {
                                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                                     }
                               }
                        });
                </script>


<script type="text/javascript" src="js/rwd-table.js"></script>