<link rel="" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">
<link rel="" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">


<h2 id="title">Registro de Ventas</h2>



<div id="div1">
  <div class="centered">
    <div  class="table-responsive">
  
      <hr>
      
      <table id="ventas" class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Acciones</th>
            <th scope="col">Numero Celular de Tramite</th>
            <th scope="col">Numero de Abonado</th>
            <th scope="col">Tipo de Tramite</th>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre del Vendedor</th>
            <th scope="col">Fecha de Activacion</th>
            <th scope="col">Factura 1 </th>
            <th scope="col">Monto 1</th>
            <th scope="col">Fecha de Pago 1</th>
            <th scope="col">Factura 2 </th>
            <th scope="col">Monto 2</th>
            <th scope="col">Fecha de Pago 2</th>
            <th scope="col">Factura 3 </th>
            <th scope="col">Monto 3</th>
            <th scope="col">Fecha de Pago 3</th>
            <th scope="col">Factura 4 </th>
            <th scope="col">Monto 4</th>
            <th scope="col">Fecha de Pago 4</th>
            <th scope="col">Factura 5 </th>
            <th scope="col">Monto 5</th>
            <th scope="col">Fecha de Pago 5</th>
            <th scope="col">Factura 6 </th>
            <th scope="col">Monto 6</th>
            <th scope="col">Fecha de Pago 6</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < rows.length; i++) { %>
            <tr>
              <td>
                <a href="/editFacturasEnero2024/<%= i+2 %>">Edit</a>
              </td>
              <td><%= rows[i][4] %></td>
              <td><%= rows[i][5] %></td>
              <td><%= rows[i][6] %></td>
              <td><%= rows[i][7] %></td>
              <td><%= rows[i][8] %></td>
              <td><%= rows[i][9] %></td>
              <td><%= rows[i][10] %></td>
              <td><%= rows[i][11] %></td>
              <td><%= rows[i][12] %></td>
              <td><%= rows[i][13] %></td>
              <td><%= rows[i][14] %></td>
              <td><%= rows[i][15] %></td>
              <td><%= rows[i][16] %></td>
              <td><%= rows[i][17] %></td>
              <td><%= rows[i][18] %></td>
              <td><%= rows[i][19] %></td>
              <td><%= rows[i][20] %></td>
              <td><%= rows[i][21] %></td>
              <td><%= rows[i][22] %></td>
              <td><%= rows[i][23] %></td>
              <td><%= rows[i][24] %></td>
              <td><%= rows[i][25] %></td>     
              <td><%= rows[i][26] %></td> 
              <td><%= rows[i][27] %></td> 
            </tr>
          <% } %>
        </tbody>
    
        
        
      </table>
    
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br>





<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
      <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script> 
      <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
      

<script>
  $(document).ready(function () {
    $.fn.dataTable.ext.search.push(
    function( settings, searchData, index, rowData, counter ) {
      var positions = $('input:checkbox[name="pos"]:checked').map(function() {
        return this.value;
      }).get();
   
      if (positions.length === 0) {
        return true;
      }
      
      if (positions.indexOf(searchData[25]) !== -1) {
        return true;
      }
      
      return false;
    }
  );
  $.fn.dataTable.ext.search.push(
    function( settings, searchData, index, rowData, counter ) {
      var positions = $('input:checkbox[name="pos2"]:checked').map(function() {
        return this.value;
      }).get();
   
      if (positions.length === 0) {
        return true;
      }
      
      if (positions.indexOf(searchData[26]) !== -1) {
        return true;
      }
      
      return false;
    }
  );
  $.fn.dataTable.ext.search.push(
    function( settings, searchData, index, rowData, counter ) {
      var positions = $('input:checkbox[name="pos3"]:checked').map(function() {
        return this.value;
      }).get();
   
      if (positions.length === 0) {
        return true;
      }
      
      if (positions.indexOf(searchData[25]) !== -1) {
        return true;
      }
      
      return false;
    }
  );
  $.fn.dataTable.ext.search.push(
    function( settings, searchData, index, rowData, counter ) {
      var positions = $('input:checkbox[name="pos4"]:checked').map(function() {
        return this.value;
      }).get();
   
      if (positions.length === 0) {
        return true;
      }
      
      if (positions.indexOf(searchData[26]) !== -1) {
        return true;
      }
      
      return false;
    }
  );
  var table = $('#ventas').DataTable({
    /*
    order: [[22, 'desc']],
    */
         // fixedHeader: true,
          dom: 'Bfrtip',
          /*
          buttons: [
             'csv', 'excel', 'pdf', 'print'
        ],
        */
        columnDefs: [
    { "width": "100%", "targets": 19 }
  ]


      });


  
 $('input:checkbox').on('change', function () {
    table.draw();
 });
      

      $('#ventas thead tr').clone(true).appendTo( '#ventas thead' );
        $('#ventas thead tr:eq(1) th').each( function (i) {
         var title = $(this).text(); //es el nombre de la columna
          $(this).html( '<input type="text" placeholder="Search...'+title+'" />' );
          $( 'input', this ).on( 'keyup change', function () {
             if ( table.column(i).search() !== this.value ) {
                  table
                     .column(i)
                     .search( this.value )
                     .draw();
        }
    } );
} );

/*
var tableData = table.data().toArray();
var currentMonth = new Date().getMonth() + 1;

var filteredData = tableData.filter(function(row) {
  var dateString = row[8];
  // Convert the date string to a Date object
  var dateParts = dateString.split("/");
  var date = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
  // Check if the month of the date is the same as the current month
  return date.getMonth() + 1 === currentMonth;
});

table.clear().rows.add(filteredData).draw();
*/


   
});
</script>
